<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <!-- <script src="../js/control.js"></script> -->
    <title>REGISTRATION FORM</title>
</head>
<body>
<div class="main">
    <div class="heading">REGISTRATION FORM</div>
    <div class="form">
        <form action="../views/next.html" method="get" target="_blank" >
            <label for="fname">FirstName:</label><br>
            <input class="input" type="text" name="Firstname" id="fname" placeholder="Enter your first name" required > <br><br>

            <label for="lname">LastName:</label><br>
            <input class="input" type="text" name="Lastname" id="lname" placeholder="Enter your last name"  required><br><br>

            <label for="email">Email ID:</label><br>
            <input class="input" type="email"name="Email" id="email" placeholder="Enter your  Email" required><br><br>

            <label for="DOB">Date Of Birth:</label><br>
            <input class="input" type="date" name="DOB" id="DOB" pattern="" placeholder="Enter your dob" required><br><br>

            <label for="num">Ph Number:</label><br>
            <input  class="input" type="text" name="Country code" value="+91" size="2">
            <input class="input"  type="number" name="Number " id="num"size="10" placeholder="Enter your number" required><br><br>

            <label for="country">Select-country:</label><br>
            <select class="country" name="country" id="country">
                <option value="india">Australia</option>
                <option value="india">India</option>
                <option value="india">Japan</option>
                <option value="india">Saudi Arabia</option>
            </select><br><br>

            <label for="">Upload file:</label><br>
            <input type="file" id="myfile" name="myfile"><br><br>
             

            <!-- <label for="gender">Gender</label><br>
            <input  class="input" type="radio" id="gender" name="Male" checked><br>
            <input  class="input" type="radio" id="gender" name="Female"><br>
            <input  class="input" type="radio" id="gender" name="Others"><br> -->
            <input class="submit" type="submit" value="Submit">       
            <!-- <a href="next.html" class="submit">Submit</a> -->

        </form>

    </div>
</div>
</body>
</html> 

